table{
	width: 90%;
	margin: 5%;
}
td{
	border: 1px solid white;
	border-collapse: collapse;
	padding: 8px;
	background-color: rgb(139, 173, 246);
	border-radius: 4px;
	text-align: center;
}
th{
	border: 1px solid white;
	border-collapse: collapse;
	padding: 8px;
	border-radius: 4px;
	background-color: darkcyan;
	color: white;
}