h1{
	color: red;
}

/*ID Selector*/
#yash{
	background: lightblue;
	padding: 8px;
}

/*Class Selector*/

.tanmay{
	background: lightgray;
	border-radius: 8px;
	border: 1px solid gray;
	padding-left: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
}