@keyframes change-bg {
	0%{background-image: linear-gradient(45deg, red, yellow);}
	25%{background-image: linear-gradient(45deg, orange, yellow);}
	50%{background-image: linear-gradient(45deg, yellow, orange);}
	75%{background-color: red;}
	100%{background-color: blue;}
}

div{
	width: 50%;
	height: 120px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-name: change-bg;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	transition: width 2s;
}

div:hover{
	width: 90%;
}

div:hover img{
	visibility: visible;
}

img{
	position: absolute;
	z-index: 1;
	visibility: hidden;
	width: 120px;
	height: 120px;
	border: 2px solid black;
	border-radius: 8px;
	object-fit: cover;
	margin-left: 300px;
	opacity: .8;
	transition: visibility 2s;
}

