<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Layout Example</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>BiggBrains</header>
	<section>
		<nav>
			<ul>
				<li><a href="#" onclick="changeContent(1)">Home</a></li>
				<li><a href="#" onclick="changeContent(2)">Services</a></li>
				<li><a href="#" onclick="changeContent(3)">Products</a></li>
				<li><a href="#" onclick="changeContent(4)">About US</a></li>
				<li><a href="#" onclick="changeContent(5)">Profile</a></li>
			</ul>
		</nav>
		<article>
			<h1 id="title">Home</h1>
			<div id="desc">
				<div>
					<img src="https://biggbrains.com/assets/img/logo.png">
					<p>BiggBrains Solutions Pvt Ltd is registerd with Ministary of corporate affairs dealing in technology driven websites, software, mobile applications.</p>
				</div>
			</div>
		</article>
	</section>
	<footer>
		Social Media Links
	</footer>

	<script type="text/javascript" src="layout.js"></script>
</body>
</html>